@inherits LayoutComponentBase

<div class="page">
    <div class=""></div>
    <main>
        <div class="top-row px-4">
            <TapMenu />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
