<div class="container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" onclick="addc()" href="text">文本工具</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="json">JSON工具</a>
        </li>
    </ul>
</div>


@*
    <div class="container">
    <div class="row">
    <ul class="nav nav-pills">
    <li>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> 文本工具
    </NavLink>
    </li>
    <li>
    <NavLink class="nav-link" href="">
    <span class="oi oi-home" aria-hidden="true"></span> JSON工具
    </NavLink>
    </li>
    </ul>
    </div>
    </div>
*@